.theme-toggle {
  display: flex;
  align-items: center;
  gap: 2px;

  padding: 4px;

  border: 1px solid var(--border);
  border-radius: 100px;

  background: var(--bg-secondary);
  color: var(--text-secondary);

  transition: 0.3s ease;
}

.theme-toggle span {
  width: 30px;
  height: 30px;

  display: grid;
  place-items: center;

  border-radius: 50%;

  transition:
    background 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
}

.theme-toggle span.active {
  background: var(--accent);
  color: var(--bg-primary);
  transform: scale(1.05);
}